streamlit==1.39.0
pandas==2.2.3
torch==2.4.1
transformers==4.45.2
sentence-transformers==3.1.1
scikit-learn==1.5.2
xgboost==2.1.1
nltk==3.9.1
spacy==3.7.6
textblob==0.18.0
pdfplumber==0.11.4
pytesseract==0.3.13
PyMuPDF==1.24.10
docx2txt==0.8
pillow==10.4.0
plotly==5.24.1
fuzzywuzzy==0.18.0
rouge-score==0.1.2
